@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
:root {
  --font-main: "Russo One", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --color-background: #010101;
  --color-primary: #fff;
}

body {
  font-family: var(--font-main);
  line-height: 1.5;
  letter-spacing: 0.0625rem;
  box-sizing: border-box;
  background-color: #eff7f6;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.container {
  width: 100%;
  max-width: 75rem;
  background-color: var(--color-background);
}

.logo {
  height: 60px;
  object-fit: cover;
  margin-top: 20px;
}

.owl {
  width: 100%;
  max-width: 37.5rem;
  min-width: 20rem;
  max-height: 38rem;
  object-fit: cover;
}

.wrap {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.details {
  font-size: 1.125rem;
  color: #e57373;
  border-bottom: 2px solid #bf9000;
  text-align: left;
  list-style-type: disc;
  padding-left: 20px;
  padding-top: 15px;
}
a {
  color: #64b5f6;
}
.mission {
  background-color: var(--color-background);
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border: 2px solid #bf9000;
  margin: 10px 20px;
}

.title {
  letter-spacing: 0;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.1rem;
  margin-bottom: 20px;
}
.intro {
  line-height: 1.5rem;
  color: #e0e0e0;
  font-size: 1rem;
  padding-bottom: 20px;
  border-bottom: 2px solid #bf9000;
}

.zavd-item {
  text-align: left;
  margin-top: 10px;
  font-size: 20x;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  list-style-type: number;
  padding: 0.9375rem 0.9375rem 1.25rem 1.5625rem;
}

.btn {
  display: block;
  margin-top: 10px;
  background-color: #222;
  color: #e0e0e0;
  border: 2px solid #444;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.spoiler {
  display: inline-block;
  margin: 0 0 15px 0;
}
.btn:hover {
  background-color: #555;
  color: var(--color-primary);
  border-color: #ffd700;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
}

.btn:active {
  background-color: #444;
}

.hint {
  display: none;
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 1.125rem;
  margin-top: 0.625rem;
}
.hint-spoiler {
  color: #e0e0e0;
  margin-bottom: 15px;
}
strong {
  font-weight: 900;
  color: #f7c331;
}
.play-button {
  position: fixed;
  bottom: 20px;
  right: 25px;
  background-color: #222;
  color: #e0e0e0;
  border: 0.125rem solid #444;
  padding: 1.5625rem 1.75rem;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.play-button:hover {
  background-color: #555;
  color: #fff;
  border-color: #ffd700;
  box-shadow: 0 0 0.5rem 0.125rem rgba(255, 255, 255, 0.5);
}
.letter {
  object-fit: cover;
  max-width: 31rem;
  width: 100%;
}
.final-message {
  text-align: center;
  margin-top: 1.25rem;
  font-size: 1.375rem;
  font-weight: bold;
  color: #f7c331;
}
